<html>
<head>
  <title>Sistema de Depuración de Catera</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>
<body>
  <header>
  </header>
  <div class="container">
    <div class="row h-100">
      <div class="col-sm"></div>
      <div class="col-sm my-auto">
        <div class="card">
          <article class="card-body">
            <button href="" class="float-right btn btn-outline-primary">Configurar</button>
            <h4 class="card-title mb-4 mt-1">Búsqueda</h4>
            <form>
              <div class="form-group">
                <label>Tipo de documento:</label>
                <select class="form-control" name="nitType" id="nitTypeDropdown">
                  <option value="CC">Cédula de ciudadanía</option>
                  <option value="CE">Cédula de extranjería</option>
                  <option value="PA">Pasaporte</option>
                  <option value="TI">Tarjeta de identidad</option>
                  <option value="RC">Registro civil</option>
                  <option value="CD">Carné diplomático</option>
                  <option value="SC">Salvoconducto de permanencia</option>
                  <option value="PE">Permiso especial de permanencia</option>
                </select>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Número de documento:</label>
                <input class="form-control" type="text" name="nit">
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Simple | Contribuyente:</label>
                <select class="form-control" name="simpleContributor" id="simpleContributorDropdown">
                  <option value="NI 800162612">Acciones y Servicios SAS</option>
                  <option value="NI 805022756">Acción del Cauca SAS</option>
                  <option value="NI 830134991">Acción BPO SAS</option>
                  <option value="NI 890309556">Acción SAS</option>
                </select>
              </div> <!-- form-group// -->
              <div class="form-group">
                <div class="checkbox">
                  <label> <input type="checkbox" name="findByDates"> Buscar por periodo </label>
                </div> <!-- checkbox .// -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Fecha desde:</label>
                <div class="input-group date" data-provide="datepicker">
                  <input type="text" name="date-from" class="form-control">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>Fecha hasta:</label>
                <div class="input-group date" data-provide="datepicker">
                  <input type="text" name="date-to" class="form-control">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div>
              </div> <!-- form-group// -->
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" id="searchButton">Buscar</button>
              </div> <!-- form-group// -->
            </form>
          </article>
        </div> <!-- card.// -->
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="app.js"></script>
</body>
</html>